body {
  /* Prevent the user from selecting text in the example */
  user-select: none;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

#container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.box {
  border-radius: 5px;
  border: 3px solid black;
  background: #f0f0f0;
  min-height: 150px;
  height: fit-content;
  margin: 10px;
  padding: 10px;

}

.draggable{
  cursor: move;
}

.text-header {
  text-align: center;
}

.text-name {
  text-align: center;
  font-size: larger;
}

.datashow{
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: 5em;
}

.dropzone.dragover {
  border: 3px dotted #666;
}

table {
  width:50%;
}

table, th, td {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}